<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
  <title>Pinterest feed</title>
  <link rel="stylesheet" href="/stylesheets/feed.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
 

</head>
<!-- A Simple non functional Pinterest inspired page layout created using only HTML and CSS.
       Created by M. Hassler - Hassified -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>

<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>

<body>

  <div class="header">
    <img src="https://uxwing.com/wp-content/themes/uxwing/download/brands-and-social-media/pinterest-round-color-icon.png" class="icon pinterest-icon">
    <ul class="navigation">
      <li>Home</li>
      <li>Explore</li>
      <li>Create</li>
    </ul>
    <div class="search-bar">
        <i class="search-icon" class="fa-solid fa-magnifying-glass"></i>
      <input type="text" placeholder="Search">
    </div>
    <div class="nav-icons">
        <i class="icon" class="fa-solid fa-bell"></i>
        <i class="icon" class="fa-regular fa-comment-dots"></i>      
        <i class="icon" class="fa-solid fa-chevron-down"></i>
    </div>
  </div>
  <div class="grid">
    <div class="grid-item">
      <img src="https://images.unsplash.com/photo-1691146735493-d5bed077ef1c?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTUzNDIyODN8&ixlib=rb-4.0.3&q=85" />
    </div>

    <div class="grid-item">
      <img src="https://images.unsplash.com/photo-1693140301742-b9349aafca29?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTUzNDIyODN8&ixlib=rb-4.0.3&q=85" />
    </div>

    <div class="grid-item">
      <img src="https://images.unsplash.com/photo-1693748960930-aa517d67fe00?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTUzNDIyODN8&ixlib=rb-4.0.3&q=85" />
    </div>

    <div class="grid-item">
      <img src="https://images.unsplash.com/photo-1695010800005-50cb50823351?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTUzNDIzNzl8&ixlib=rb-4.0.3&q=85" />
    </div>

    <div class="grid-item">
      <img src="https://images.unsplash.com/photo-1693956089429-e2394b22071e?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTUzNDI0Mzh8&ixlib=rb-4.0.3&q=85" />
    </div>

    <div class="grid-item">
      <img src="https://images.unsplash.com/photo-1692526664882-5a2a505e89e5?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTUzNDI0Mzh8&ixlib=rb-4.0.3&q=85" />
    </div>

    <div class="grid-item">
      <img src="https://images.unsplash.com/photo-1693222918463-b3478d35131c?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTUzNDI0Mzh8&ixlib=rb-4.0.3&q=85" />
    </div>

    <div class="grid-item">
      <img src="https://images.unsplash.com/photo-1693576757206-dff6b2bad799?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTUzNDI1Mjd8&ixlib=rb-4.0.3&q=85" />
    </div>

    <div class="grid-item">
      <img src="https://images.unsplash.com/photo-1693576588093-7244ecec24c9?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE2OTUzNDI1OTB8&ixlib=rb-4.0.3&q=85" />
    </div>
    
  </div>

  <script>
    $(".grid").imagesLoaded(function() {
      $(".grid").masonry({
        itemSelector: ".grid-item"
      });
    });
  </script>
</body>

</html>